table {
    border-collapse: collapse;
    border: 1px solid black
}

th,td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

tr:nth-child(2n) {
    background-color: #a0a0a0;
}

thead {
    background-color: #ccddee;
}

tfoot {
    background-color: #ddccee;
}